* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    font-family: "Outfit", sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: hsl(30, 54%, 90%);
    max-width: 1440px;
    color: hsl(30, 10%, 34%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#unordered-list,
#ordered-list  {

    margin-left: 20px;
}

.prep-list {
    margin-left: 20px;
}

li {
    padding-left: 1rem;
    margin-bottom: 10px;
}
ul li::marker {
    color: hsl(332, 51%, 32%);
}


h2 {
    font-family: "Young Serif";
    font-weight: 400;
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
}

span {
    font-weight: 700;
    color: hsl(30, 10%, 34%);
}
.header-img {
    padding: 25px 25px 0 25px;
}
.header-img img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.container {
    max-width: 800px;
    margin-top: 120px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
.content {
    padding: 25px;
}
.content h1 {
    font-family: "Young Serif";
    font-weight: 500;
    margin-bottom: 15px;
}
.content p {
    line-height: 1.5;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
}
.preparation h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
}

.ingredients {

    padding: 25px;

}

.instructions {
    padding: 25px;
    border-top: 1px solid hsl(30, 18%, 87%);
   
}
.instructions li p {
    line-height: 1.5;
}
.instructions li::marker {
    content: counter(list-item) '.';
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

.nutrition {
    padding: 25px;
    border-top: 1px solid hsl(30, 18%, 87%);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }

table td {
    border-bottom: 1px solid hsl(30, 18%, 87%) ;
    padding: 10px 20px;
}

.t-value {
    color: hsl(332, 51%, 32%);
    font-weight: 500;
}


@media (max-width: 768px) {

    .container {
        margin-top: 0;
        padding: 0;
        border-radius: 0;
    }
    .header-img {
        padding: 0;
    }
    .header-img img {
        display: block;
        width: 100%;
        border-radius: 0;
    }
    .preparation {
         
        margin: 0 25px;
    }
  
}

#footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution { font-size: 12px; }
.attribution a { color: hsl(228, 45%, 44%); }